extends layouts/login-layout.pug 

block content
    .loginContainer
        h1 Login
        form(action='#' method='POST')
            
            input(type='text', name='logUsername' placeholder='Username or Email' required='' autofocus=true)
            input(type='password', name='logPassword' placeholder='Password' required='')
            input(type="submit" name="" value="Login")
        a(href="/register") Need an account? Register here.